@page "/todo"

<PageTitle>To-do</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">TO-DO LIST (@todos.Count(todo => !todo.EstaFeito))</MudText>
<MudText Class="mb-8">A seguir, temos uma lista de itens que deverão ser feitos:</MudText>

<div class="mt-8">
    <MudList>
        @foreach(var item in todos){
            <MudListItem class="d-flex">
                <MudCheckBox style="float:left" @bind-Checked="@item.EstaFeito" Color="Color.Secondary"></MudCheckBox>
                @if(item.EstaFeito){
                    <MudTextField @bind-Value="item.Titulo" Variant="Variant.Outlined" style="text-decoration:line-through; font-style: italic; width:300px"></MudTextField>
                }else{
                    <MudTextField @bind-Value="item.Titulo" Variant="Variant.Outlined" style="width:300px"></MudTextField>
                }
            </MudListItem>
        }
    </MudList>
</div>

<div class="mt-8" style="width:400px"> 
    <MudTextField @bind-Value="novoItem" Label="Insira um item..." Variant="Variant.Outlined"></MudTextField>
    <MudButton @onclick = "Adicionar" Variant="Variant.Outlined" Size="Size.Small"  Color="Color.Primary" >Adicionar item a lista</MudButton>
</div>

@code {
    private List<TodoItem> todos = new();

    private string? novoItem;
    private void Adicionar() {
            if(!string.IsNullOrEmpty(novoItem)){
                var todo = new TodoItem();
                todo.Titulo = novoItem;
                todos.Add(todo);
                novoItem = string.Empty;
            }
    }
}